@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Form";
}
<h2>Grade Calculator</h2>
<!-- This is a form-->
<form class="form">
    <label for="assignments">Assignments</label><input type="number" id="assignments" name="assignments" value="" min="0" max="100" step="1" />
    <label for="groupproject">Group Project</label><input type="number" id="groupproject" name="groupproject" value="" min="0" max="100" step="1" />
    <label for="quizzes">Quizzes</label><input type="number" id="quizzes" name="quizzes" value="" min="0" max="100" step="1" />
    <label for="midterm">Midterm Exam</label><input type="number" id="midterm" name="midterm" value="" min="0" max="100" step="1" />
    <label for="final">Final Exam</label><input type="number" id="final" name="final" value="" min="0" max="100" step="1" />
    <label for="intex">Intex</label><input type="number" id="intex" name="intex" value="" min="0" max="100" step="1" />
    <button type="button" class="btn-primary" id="formSubmission">Calculate</button>
</form>
<br />
<!--Grade is displayed here using the span-->
<p>Your Potential Grade is: <span id="potentialGrade">Not Yet Calculated</span></p>